[submodule "packages/ilmomasiina-receiptgen/crates/vendor/receipt-core"]
	path = packages/ilmomasiina-receiptgen/crates/vendor/laskugeneraattori
	url = git@github.com:Tietokilta/laskugeneraattori
	branch = feat/receipt-gen
